* {
  font-family: 'Helvetica', 'Arial';
}

.buttonBlue {
  background-color: #0095f6;
  min-width: 250px;
  max-width: 100%;
  border-radius: 4px;
  color: white;
  border: none;
  padding: 5px;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.buttonBlue span img {
  margin-right: 5px;
  width: 30px;
  height: 20px;
}

body {
  background-color: #fafafa;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .containerRegister {
  background-color: #ffffff;
  padding: 40px;
  height: 100%;
  width: 330px;
  border: 1px solid #e3e3e3;
}

.container .containerRegister .registerTop {
  text-align: center;
  width: 100%;
}

.container .containerRegister .registerTop p {
  font-size: 16px;
  font-weight: bolder;
  color: #aaaaaa;
  word-spacing: 2px;
}

.container .containerRegister .registerMidTop {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .containerRegister .registerMidTop .center {
  color: #dbdbdb;
  font-size: 25px;
}

.container .containerRegister .registerMidTop hr {
  width: 100px;
  color: #dbdbdb;
}

.container .containerRegister .formRegister {
  width: 100%;
  position: relative;
}

.container .containerRegister .formRegister form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .containerRegister .formRegister form input {
  font-size: 13px;
  padding: 10px;
  margin-top: 10px;
  background-color: #fafafa;
  border: 1px #d0d0d0 solid;
}

.container .containerRegister .info {
  margin-top: 10px;
  color: #8e8e8e;
  text-align: center;
  font-size: 12px;
  word-spacing: 2px;
}

.container .containerRegister .info span {
  font-weight: bolder;
  cursor: pointer;
}

.container .containerLogin {
  background-color: #ffffff;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #e3e3e3;
  width: 310px;
  text-align: center;
  font-size: 13px;
}

.container .containerLogin a {
  color: #0095f6;
  text-decoration: none;
  cursor: pointer;
}

.container .downloadApp {
  text-align: center;
}

.container .downloadApp .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .downloadApp p {
  font-size: 13px;
  word-spacing: 1px;
}

.container .downloadApp img {
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.loginTop {
  text-align: center;
}

.container-index {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* Small screen devices (600px and above) */
/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {
  .image-container {
    display: none;
  }
}

.footer {
  color: grey;
  height: 100%;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  max-width: 60%;
  margin-top: 100px;
}

.footer .firstFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .secondFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  min-width: 30%;
  margin: 0 auto;
}

.footer .thirdFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 20%;
  margin: 0 auto;
}

.footer p {
  cursor: pointer;
  margin: 5px;
}

/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {
  .footer .firstFooter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */